:root {
    --primary-color: #2E2F42;
    --secondary-color: #434455;
    --title-color: #FFFFFF;
}

body {
    font-family: "Roboto", sans-serif;
}


.header-link-active,
.header-link-hover {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.contact-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.first-section {
    background-color: #2E2F42;
}

.title {
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.primary-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #4D5AE5;
}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}

.secondary-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.footer-section {
    background-color: #2E2F42;
}

.footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;

}